.pfp1{
    top:30px;
    height:50vh;
    width: 40vw;
    display: inline-block;
    position: relative;
    left:30px;
}
.pfp2{
    position: relative;
    left:600px;
    height:50vh;
    width: 40vw;
    bottom: 300px;
}
span{
    display: inline-block;
}